* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}
header {
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
}
.logo-container {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo {
  height: 1.5rem;
}
nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}
nav a {
  position: relative;
  text-decoration: none;
  color: white;
}
nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;

  width: 0%;
  height: 2px;
  background-color: orange;

  transition: width 0.3s ease-in-out;
}

nav a:hover::after {
  width: 100%;
}
header button {
  padding: 1rem 1.5rem;
  background-color: #252525;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
header button:hover {
  transform: scale(1.05);
  background-color: #e8521a;
  color: white;
}
.main-headig-container {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-headig {
  font-size: 10rem;
}
.buttons {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.btn {
  padding: 10px 20px;
  background-color: #222222;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background-color: #d24410;
  transform: scale(1.05);
}
.active {
  background-color: #e8521a;
}
.cards-container {
  width: 100%;
  /* height: 30rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding-bottom: 10rem;
}
.card {
  height: 100%;
  width: 23rem;
  display: flex;
  flex-direction: column;
  background-color: #222222;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.card-img-container {
  height: 17rem;
  overflow: hidden;
}
.card-img-container img {
  height: 100%;
  object-fit: cover;
  transition: all 1s ease-in-out;
}
.card-img-container img:hover {
  transform: scale(1.1);
}
.card-desc {
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.card-desc h1 {
  background-color: #d24410;
  color: #ffffff;
  font-size: medium;
  padding: 10px 20px;
  border-radius: 20px;
  position: absolute;
  right: 2%;
  top: 56%;
}
.card-desc p {
  color: #8e908d;
}
